body {
/*    So that the static footer doesn't cover content'*/
    margin-bottom: 80px;
    font-family: 'Raleway', sans-serif;
}

.page-header {
    margin-top: 0;
}

.panel-body {
    padding-top: 0;   
}
.featuredImg {
    margin-bottom: 1%;
    width: 100%;
}

